# Neon Postgres Connection Strings
DATABASE_URL="postgresql://usuario:senha@seu-host-neon-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://usuario:senha@seu-host-neon.us-east-2.aws.neon.tech/neondb?sslmode=require"

# NextAuth config
NEXTAUTH_SECRET="seu_segredo_super_seguro_para_o_nextauth"
NEXTAUTH_URL="http://localhost:3000"

# API e sincronizacao automatica
WORLDCUP_API_BASE="https://worldcup26.ir"
CRON_SECRET="troque-por-um-segredo-longo"
